/*------------------------------------*\
    SETTINGS
\*------------------------------------*/

// handle dimensions
$ngrs-handleWidth: 28px;
$ngrs-handleHeight: 28px;

// thickness of the join line
$ngrs-joinWeight: 8px;

// prefix
$ngrs-prefix: 'ngrs-';

/*------------------------------------*\
    IONIC DEFAULT COLORS
    these can be overriden
\*------------------------------------*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$light-royal:                     #9c92d9 !default;

/*------------------------------------*\
    THE CSS
\*------------------------------------*/

.#{$ngrs-prefix}range {

	> * {
		flex: 1 1 auto;
	}

	.#{$ngrs-prefix}range-slider {
		background: none;
		border: none;
		box-shadow: none;
		flex: 0 1 100% !important;
		margin: 5px 0;
		padding-bottom: 20px;
		padding-top: 20px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		&, * {
			@include user-select(none);
		}

		/* disabled */
		&.#{$ngrs-prefix}disabled {
			&, &.#{$ngrs-prefix}focus {
				// make sure the focus state is not used
				border-color: #ddd;
				@include box-shadow(none);
			}
			.#{$ngrs-prefix}handle {
				background: #fff;
				border-color: #ddd;

				i {
					background: none !important;
					cursor: default;
				}
			}
			.#{$ngrs-prefix}join {
				background: #ddd;
			}
			.#{$ngrs-prefix}value {
				color: #ddd;
			}
		}
	}

	.#{$ngrs-prefix}runner {
		background-color: #ccc;
		height: 2px;
		position: relative;
		margin: 0 $ngrs-handleWidth / 2;
	}

	.#{$ngrs-prefix}join {
		background-color: #2f96b4;
		@include background-image(linear-gradient(#5bc0de, #2f96b4));
		@include border-radius($ngrs-joinWeight / 2);
		height: 2px;
		left: 0;
		margin-top: -1px;
		position: absolute;
		right: 100%;
		top: 50%;
		z-index: 1;
	}

	.#{$ngrs-prefix}handle {
		background-color: #FFF;
		@include border-radius(50%);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		height: $ngrs-handleHeight;
		margin: 0 0 0 (-$ngrs-handleWidth / 2);
		position: absolute;
		top: -13px;
		width: $ngrs-handleWidth;
		z-index: 2;
		-webkit-appearance: none;
	}


	.#{$ngrs-prefix}range-value {
		min-width: 50px;
		font-size: 14px;
		
		&.#{$ngrs-prefix}range-min-value {
			text-align: left;
		}
		&.#{$ngrs-prefix}range-max-value {
			text-align: right;
		}
	}
}

/*------------------------------------*\
    TOUCH STATE
\*------------------------------------*/

body.#{$ngrs-prefix}touching {
	// prevents the user from panning or zooming while they are using the slider
	-ms-touch-action: none;
}

/*------------------------------------*\
    SUPORT IONIC COLORS
\*------------------------------------*/

@mixin tz-ionic-rangeslider-style($color-name, $color) {
	.#{$ngrs-prefix}range {
		&.range-#{$color-name} {
			.#{$ngrs-prefix}join {
				background-color: $color;
				@include background-image(linear-gradient(lighten($color, 15%), $color));
			}
		}
	}
}

@include tz-ionic-rangeslider-style('light', $light);
@include tz-ionic-rangeslider-style('stable', $stable);
@include tz-ionic-rangeslider-style('positive', $positive);
@include tz-ionic-rangeslider-style('calm', $calm);
@include tz-ionic-rangeslider-style('balanced', $balanced);
@include tz-ionic-rangeslider-style('energized', $energized);
@include tz-ionic-rangeslider-style('assertive', $assertive);
@include tz-ionic-rangeslider-style('royal', $royal);
@include tz-ionic-rangeslider-style('dark', $dark);
@include tz-ionic-rangeslider-style('light-royal', $light-royal);
